@model PracticeNetCore.Models.SystemUsers

@{
    ViewData["Title"] = "Login";
}


<h4>Đăng nhập</h4>
<h4>@ViewBag.Message</h4>
@if (string.IsNullOrEmpty(ViewBag.LTLD))
{
    <p class="text-muted">Chào mừng đến với web xaolol của HQHAI</p>

}
else
{
    <p class="text-muted">Xin chào , bạn đang đăng nhập vào hệ thống lần cuối vào @ViewBag.LTLD</p>

}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Đăng nhập" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
